body { <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  font-family: Arial, sans-serif;
  background-color: #5d73a5;
  color: #3a1d02;
  margin: 10px;
  padding: 10px;
}
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #edf0f0;
  border-radius: 8px;
}

section {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
}
h2 {
  color: #3c85d3;
  font-size: 2em;
  margin-bottom: 15px;
}
h3 {
  color: #be4594;
  font-size: 1.5em;
  margin-bottom: 10px;
}

header {
  background-color: #cf85b5;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}
header h1 {
  margin: 0;
  font-size: 2.5em;
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 25px;
}
nav li {
display: inline;
}
nav a {
  color: #ffffff;
  text-decoration: dashed;
  font-weight: 700;
  transition: color 0.3s ease;
}
nav a:hover {
  color: #c0348f;
}
button {
  background-color: #3c85d3;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #eab1d6;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;

}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
table th {
  background-color: #be4594;
  color: #ffffff;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
label {
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
footer {
  background-color: #cf85b5;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
